@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: rgb(63, 199, 240);
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainGrey: #ececec;
    --darkGrey: #afafaf;
    --mainBlack: #222;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 0.25rem;
    --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.3);
    --darkShadow: 4px 10px 5px 0 rgba(0, 0, 0, 0.5);
}


/*Reset*/

*,
 ::before::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    color: var(--mainBlack);
    background-color: var(--offWhite);
    line-height: 1.4;
    font-size: 1rem;
}


/* global styles */

img:not(.nav-logo) {
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
    margin-bottom: 1.25rem;
    letter-spacing: var(--mainSpacing);
}

h1 {
    font-size: 3.3rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    margin-bottom: 1.25rem;
    line-height: 2;
    font-weight: 300;
}

a {
    text-decoration: none;
}


/* hero */

.hero {
    min-height: calc(100vh - 62px);
    background-color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-banner {
    text-align: center;
    color: var(--mainWhite);
    padding: 0 2rem;
}

.hero-title {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin-bottom: 2rem;
}

.hero-text {
    font-family: 'Titillium Web', sans-serif;
    width: 75%;
    margin: 0 auto;
    letter-spacing: var(--mainSpacing);
    font: 800;
}

.btn-white,
.btn-primary {
    color: var(--primaryWhite);
    letter-spacing: var(--mainSpacing);
    display: inline-block;
    border: 2px solid white;
    padding: 0.9rem 1.6rem;
    margin-top: 20px;
    cursor: pointer;
    transition: var(--mainTransition);
}

.btn-white:hover {
    background-color: var(--mainWhite);
    color: var(--primaryColor);
}

.btn-primary {
    background: var(--primaryColor);
    color: white;
    border: var(--primaryColor) 2px solid;
}

.btn-primary:hover {
    background: transparent;
    color: var(--primaryColor);
}


/* end of hero  */


/* about */

.about {
    background: var(--mainWhite);
}

.section {
    padding: 5rem 0;
}

.title-wrapper {
    margin-bottom: 2rem;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.6rem;
    letter-spacing: 0.5rem;
}

.subtitle {
    color: var(--primaryColor);
}

.section-center {
    width: 85vw;
    margin: 4rem auto 2rem auto;
    max-width: 1170px;
}

.about-img,
.about-info {
    margin: 0 0rem 0rem 0rem;
}


/* @media screen and (min-width: 792px) {
    .about-center{
        display: flex;
        justify-content: space-between;
    }
    .about-img,.about-info{
        flex: 0 0 calc(50% - 2rem);
       
      
    }
} */

.featured {
    background-color: var(--mainWhite);
}

@media screen and (min-width: 992px) {
    .about-center {
        display: flex;
        justify-content: space-between;
    }
    .about-img,
    .about-info {
        flex: 0 0 calc(50% - 2rem);
        margin-bottom: 0;
        align-self: center;
    }
}


/* end of about  */


/* service  */

.services {
    text-align: center;
    margin-bottom: 3rem;
}

.service-title {
    text-transform: uppercase;
}

.service-text {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.service-icon {
    background-color: var(--primaryColor);
    padding: 4px;
    font-size: 2rem;
    display: inline-block;
    margin-bottom: 2rem;
}


/* end service  */

@media screen and (min-width:768px) {
    .hero {
        background: linear-gradient(rgba(63, 199, 240, 1), rgba(0, 0, 0, 0.01)), url("../1.jpg") no-repeat center/cover fixed;
    }
    .hero-title {
        font-size: 4.5rem;
    }
}

@media screen and (min-width:576px) {
    .section-center {
        display: flex;
        flex-wrap: wrap;
    }
    .service {
        flex: 0 0 calc(50% - 1rem);
    }
}

@media screen and (min-width:786px) {
    .service {
        flex: 0 0 calc(33.33333% - 1rem);
    }
}


/* featured  */

.tour-card {
    margin-bottom: 4rem;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
}

.tour-card:hover {
    box-shadow: var(--darkShadow);
}

.tour-img-container {
    position: relative;
}

.tour-date {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    background-color: var(--primaryColor);
    padding: 0.25rem 0.5rem;
}

.tour-footer {
    padding: 1.2rem 1.5rem;
}

.tour-title {
    text-transform: capitalize;
}

.tour-country {
    color: var(--primaryColor);
    text-transform: capitalize;
}

.tour-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tour-details p {
    text-transform: capitalize;
    color: var(--darkGrey);
    letter-spacing: 0.02rem;
    line-height: 0.2;
}

.tour-country {
    align-self: center;
}

.tour-link {
    text-align: center;
    text-transform: capitalize;
}

@media screen and (min-width: 786px) {
    .featured-center {
        display: flex;
        justify-content: space-between;
    }
    .tour-card {
        flex: 0 0 calc(50% - 4rem);
    }
}

@media screen and (min-width: 986px) {
    .tour-card {
        flex: 0 0 calc(33.33333% - 4rem);
    }
}


/* featured end  */


/* gallery  */

.gallery {
    background: var(--darkGrey);
}

.gallery-img-container {
    position: relative;
    background-color: var(--primaryColor);
}

.gallery-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.5rem;
    transform: translate(-50%, -50%);
    color: var(--mainWhite);
    cursor: pointer;
    transition: var(--mainTransition);
    opacity: 0;
}

.gallery-img {
    transition: var(--mainTransition);
}

.gallery-img-container:hover .gallery-img {
    opacity: 0.5;
}

.gallery-img-container:hover .gallery-icon {
    opacity: 1;
}

@media screen and (min-width:786px) {
    .gallery-center {
        display: flex;
        flex-wrap: wrap;
    }
    .gallery-img-container {
        flex: 0 0 50%;
    }
}

@media screen and (min-width:1170px) {
    .gallery-img-container {
        flex: 0 0 25%;
    }
}


/* end of gallery  */


/* deals  */

.input-group {
    width: 80vw;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
}

.form-control {
    flex: 1 1 auto;
}

.form-control,
.btn-submit {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    outline: none;
    background: transparent;
    border: 2px solid var(--primaryColor);
}

::placeholder {
    color: rgb(88, 88, 88);
    font-family: 'Cairo', sans-serif;
}

.btn-submit {
    border-left: none;
    transition: var(--mainTransition);
}

.btn-submit:hover {
    background-color: var(--primaryColor);
    color: var(--mainWhite);
}

@media screen and (min-width:786px) {
    .input-group {
        width: 60vw;
        max-width: 400px;
        margin: 0 auto;
        display: flex;
    }
}


/* end of deals  */


/* footer  */

.footerarea {
    background: var(--mainBlack);
    text-align: center;
    color: var(--mainWhite);
    padding: 0 2rem 0 2rem;
}

.footer-icons,
.footer-links {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    flex-wrap: wrap;
}

.footer-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--mainWhite);
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-right: 1rem;
    margin-top: 15px;
    transition: var(--mainTransition);
}

.footer-link:hover {
    color: var(--primaryColor);
}

.footer-icon {
    color: var(--mainWhite);
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: var(--mainTransition);
}

.footer-icon:hover {
    color: var(--primaryColor);
    transform: translateY(-10%);
}

.copyright {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    margin: 0;
    padding: 1.8rem;
}


/* end of footer  */


/* nav  */

.nav-header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--primaryColor);
    transition: var(--mainTransition);
}

.nav-toggle:hover {
    transform: scale(1.2);
}

.nav-link {
    display: block;
    padding: 1rem 2rem;
    color: var(--mainBlack);
    text-transform: capitalize;
    font-weight: bold;
    transition: var(--mainTransition);
}

.nav-link:hover {
    color: var(--primaryColor);
    background-color: var(--darkGrey);
    padding-left: 2.5rem;
}

@media screen and (max-width :785px) {
    .nav-links {
        overflow: hidden;
        height: 0;
        transition: var(--mainTransition);
    }
    .nav-icons {
        overflow: hidden;
        height: 0;
    }
}

.show-links {
    height: 270px;
}

@media screen and (min-width:786px) {
    .nav-center {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
    }
    .nav-links {
        display: flex;
    }
    .nav-icons {
        display: flex;
    }
    .nav-toggle {
        display: none;
    }
    .nav-link {
        padding: 0;
    }
    .nav-icon {
        padding: 0;
    }
    .nav-logo {
        padding: 0;
        margin: 0;
    }
    .nav-link {
        padding: 0;
    }
    .nav-header {
        padding: 0;
    }
    .nav-link {
        margin-right: 0.7rem;
    }
    .nav-link:hover {
        padding: 0;
        background: transparent;
    }
    .nav-icon {
        margin-right: 0.7rem;
        color: var(--primaryColor);
        transition: var(--mainTransition);
        font-size: 1.2rem;
    }
    .nav-icon:hover {
        color: var(--mainBlack);
        transform: translateY(-10%);
    }
    .navbar {
        padding: 1rem 2rem;
    }
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--mainGrey);
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    z-index: 1;
}


/* end of nav  */